POSTGRES_PASSWORD=postgres
#PGDATA=/var/lib/postgresql/kpdprojectdata/pgdata



#POSTGRES_PASSWORD=your_db_password
#POSTGRES_DB=your_db_name
#POSTGRES_USER=your_db_user_name
#POSTGRES_HOST=localhost
#DATABASE_HOST=db_container_name
#POSTGRES_PGDATA=/var/lib/postgresql/data/some_name
#JWT_SECRET=your_best_ever_secret_jwt

